@media only screen and (min-width: 60em) {    
    body, html {
        height: 100%;
    }
    
    main {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    .card {
        width: 400px;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    
    .card_image {
        padding: 0;
        width: 100%;
    } 
    
    .card_body {
        flex-grow: 1;
    }
    
    .card_image > img {
        width: 100%;
    }
    
    .card_footer {
        border-top: 1px solid rgb(187, 187, 187);
        border-left: none;
    }
    
    .button_container {
        float: right;
    }
    
    .button_container > button:nth-child(1) {
        background-color: wheat;
        color: black;
    }
    
    .button_container > button:nth-child(2) {
        background-color: rgb(111, 187, 238);
        color: black;
    }
    
}